<div class="login__container">
  <div class="login form">
    <form [formGroup]="registrationForm">
      <input type="text" name="email" formControlName="email" placeholder=" email" >

      <div *ngIf="_email?.invalid && (_email?.dirty || _email?.touched)" class="alert alert-danger">

        <div class="error" *ngIf="_email?.errors?.['required']">
          поле обязательно к заполнению
        </div>
        <div class="error" *ngIf="_email?.errors?.['email']" >
          не корректый email
        </div>
      </div>

      <input type="password" placeholder=" password" name="password" formControlName="password">

      <div *ngIf="_password?.invalid && (_password?.dirty || _password?.touched)" class="alert alert-danger">

        <div class="error" *ngIf="_password?.errors?.['required']">
          поле обязательно к заполнению
        </div>
        <div class="error" *ngIf="_password?.errors?.['invalidPassword']" >
          {{_password.errors?.['invalidPassword']}}
        </div>
      </div>

      <input type="text" formControlName="fio" placeholder=" ФИО">
      <div class="error" *ngIf="isControlInvalid('fio')" >
        поле обязательно к заполнению
      </div>
      <div class="login__link">
        <button  type="submit" (click)="registration()">Sign Up</button>
      </div>
    </form>
  </div>
</div>
