<div class="wrap">
  <h1>Приложение MeetUps</h1>
  <p>Приложение MeetUps представляет из себя список мероприятий в котором вы можете найти для себя встречи по своим интересам и зарегистрироваться на участие в них. Также приложение позволяет создавать и редактировать планируемые встречи.</p>
  <hr>
  <p>Это приложение учебное. При работе использовался следующий стек технологий: JavaScript, TypeScript, фреймворк Angular с встроенной библиотекой RxJS. RxJS — это библиотека, реализующая принципы реактивного программирования для JavaScript. Основанная на объектах типа Observable, она упрощает написание и контроль асинхронного и событийного кода. Для работы над стилями использовался препроцессор SCSS и библиотека Angular Material</p>
  <hr>
  <div>
    Приложение состоит из следующих страниц:
    <ul>
      <li>стартовая страница с описанием приложения</li>
      <li>общий список "все митапы"</li>
      <li>список "мои митапы", состоящий из митапов созданных пользователем, а также из митапов на которые он подписан</li>
      <li>список пользователей (доступен только администратору)</li>
      <li>страница создания митапа</li>
      <li>страница редактирования митапа</li>
      <li>страница авторизации</li>
      <li>страница регистрации</li>
    </ul>
  </div>
  <hr>
  <div>
    В приложении реализовано:
    <ul>
      <li>
        Поиск по всем митапам по названию, описанию и дате
      </li>
      <li>В списке выводятся сокращенные версии митапов, которые можно развернуть, для получения подробной информации</li>
      <li>В зависимости от даты проведения встречи выводится статус "проведено" или указывается место проведения, если встреча ещё предстоит.</li>
      <li>
        В карточке митапа реализована возможность подписаться или отказаться от встречи
      </li>
      <li>Реализована пагинация с выбором количества отображаемых карточек митапов на странице</li>
      <li>В списке "мои митапы" для митапов, которые создал сам пользователь отображается кнопка для редактирования митапа</li>
      <li>В форме редактирования митапа, форме создания митапа и форме регистрации пользователя используются реактивные формы с валидацией</li>
      <li>В списке пользователей, который доступен только администратору, предусмотрено редактирование данных пользователя, с возможностью назначения ролей User/Admin</li>
      <li>Ссылки в меню доступны только авторизованным пользователям, что достигается с помощью настроенных Route Guards, которые позволяют ограничить доступ к маршрутам на основе определенного условия</li>
      <li>Форма для создания митапа доступна по нажатию знака шестиренки в панели меню</li>
      <li>Без авторизации доступна только стартовая страница с описание приложения и собственно страница с авторизацией</li>
    </ul>
  </div>


</div>
