@font-face {
  font-family:'Open Sans Hebrew Condensed';
  src: url('../../src/assets/fonts/OpenSansHebrewCondensed-Bold.eot');
  src: url('../../src/assets/fonts/OpenSansHebrewCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../src/assets/fonts/OpenSansHebrewCondensed-Bold.woff2') format('woff2'),
  url('../../src/assets/fonts/OpenSansHebrewCondensed-Bold.woff') format('woff'),
  url('../../src/assets/fonts/OpenSansHebrewCondensed-Bold.svg#OpenSansHebrewCondensed-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-00FE;
}

@font-face {
  font-family:'Cherry Bomb';
  src: url('../../src/assets/fonts/CherryBomb-Regular.eot');
  src: url('../../src/assets/fonts/CherryBomb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../src/assets/fonts/CherryBomb-Regular.woff2') format('woff2'),
  url('../../src/assets/fonts/CherryBomb-Regular.woff') format('woff'),
  url('../../src/assets/fonts/CherryBomb-Regular.svg#CherryBomb-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2013;
}

@font-face {
  font-family:'Open Sans';
  src: url('../../src/assets/fonts/OpenSans-Regular.eot');
  src: url('../../src/assets/fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../src/assets/fonts/OpenSans-Regular.woff2') format('woff2'),
  url('../../src/assets/fonts/OpenSans-Regular.woff') format('woff'),
  url('../../src/assets/fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-02DC;
}
