.wrap {
  padding: 0 24px;
  margin:  10px auto 0 auto;
  background: #BCB3B3;
  border-radius: 5px;
  max-width: 90%;
  form {
    position: relative;
    background: #BCB3B3;
    border-radius: 5px;
    input, button {
      border: none;
      outline: none;
      background: transparent;
    }
    input {
      width: 100%;
      height: 25px;
      padding: 24px 15px 24px 13px;
      &::-webkit-input-placeholder {color:#B85526;}
      &::-moz-placeholder          {color:#B85526;}/* Firefox 19+ */
      &:-moz-placeholder           {color:#B85526;}/* Firefox 18- */
      &:-ms-input-placeholder      {color:#B85526;}
    }
    button {
      height: 42px;
      width: 42px;
      position: absolute;
      top: 5px;
      right: 0;
      cursor: pointer;
      &::before {
        content: url('../../../assets/search.svg');
      }
    }
  }
}
