<header class="header">
  <div class="header__wrap">
    <h1>{{ appTitle }}</h1>
    <div class="header__logo">
      <img src="../../../assets/it-philosophy.png" alt="ИТ ФИЛОСОФИЯ">
      <img src="../../../assets/liga.png" alt="ЛИГА ЦИФРОВОЙ ЭКОНОМИКИ">
    </div>
    <nav class="header__nav">
      <a routerLink="all-meetups">Все митапы</a>
      <a routerLink="my-meetups">Мои митапы</a>
      <a *ngIf="isAdmin()"  routerLink="users">Пользователи</a>
    </nav>
    <div class="header__management">
      <a routerLink="create-meetup">
        <img src="../../../assets/gear.svg" alt="настройки">
      </a>
      <a *ngIf="!isAuthorised()" class="header__login" routerLink="login">
        <img src="../../../assets/entry.svg" alt="вход">
      </a>
      <a *ngIf="isAuthorised()" class="header__logout" (click)="LogOut()">
        <img src="../../../assets/logout_b.svg" alt="выход" width="49px" height="49px">
      </a>


    </div>
  </div>
</header>
