@import '../src/sass/reset';
@import '../src/sass/variables';
@import '../src/sass/mixins';
@import '../src/sass/fonts';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #1E1E1E;
  color: $light;
}
