<div class="container">
  <h1>Создание митапа</h1>

  <form [formGroup]="createMeetupForm" (submit)="onSubmit()">
    <ul class="wrapper">
      <li class="form-row title">
        <label for="title">Название:</label>
        <input type="text" id="title" formControlName="title">
        <div class="plug"></div>
      </li>
      <div class="error" *ngIf="isControlInvalid('title')">
        поле обязательно к заполнению
      </div>

      <li class="form-row date">
        <label for="date">Дата:</label>
        <div class="date">
          <input type="date" id="date" formControlName="date">
          <label for="time">Время:</label>
          <input type="time" id="time" formControlName="time">
        </div>

      </li>
      <div class="error" *ngIf="isControlInvalid('date')"></div>
      <div class="error" *ngIf="isControlInvalid('time')"></div>

      <li class="form-row title">
        <label for="duration">Продолжительность:</label>
        <input type="number" id="duration" formControlName="duration">
        <div class="plug"></div>
      </li>
      <div *ngIf="_duration?.invalid && (_duration?.dirty || _duration?.touched)" class="alert alert-danger">

        <div class="error" *ngIf="_duration?.errors?.['required']">
          поле обязательно к заполнению
        </div>
        <div class="error" *ngIf="_duration?.errors?.['min'] || _duration?.errors?.['max']">
          Продолжительность от 10 до 120 минут
        </div>

      </div>


      <li class="form-row title">
        <label for="title">Место:</label>
        <input type="text" id="location" formControlName="location">
        <div class="plug"></div>
      </li>
      <div *ngIf="_location?.invalid && (_location?.dirty || _location?.touched)" class="alert alert-danger">

        <div class="error" *ngIf="_location?.errors?.['required']">
          поле обязательно к заполнению
        </div>
        <div class="error" *ngIf="_location?.errors?.['minlength']">
          Введите более 4-х символов
        </div>

      </div>


      <li class="form-row">
        <label for="description">Описание</label>
        <textarea
          id="description"
          cols="30"
          rows="5"
          formControlName="description"
        ></textarea>
      </li>
      <div *ngIf="_description?.hasError('required') && _description?.touched" class="error-message">
        Описание обязательно
      </div>
      <div class="error" *ngIf="_description?.errors?.['maxlength']">
        Введите не более 255 символов
      </div>

      <li class="form-row">
        <label for="targetAudience">Целевая аудитория</label>
        <textarea
          id="targetAudience"
          cols="30"
          rows="3"
          formControlName="targetAudience"
        ></textarea>
      </li>
      <div *ngIf="_targetAudience?.hasError('required') && _targetAudience?.touched" class="error-message">
        Описание обязательно
      </div>

      <li class="form-row">
        <label for="needToKnow">Что надо знать?</label>
        <textarea
          id="needToKnow"
          cols="30"
          rows="5"
          formControlName="needToKnow"
        ></textarea>
      </li>
      <div *ngIf="_needToKnow?.hasError('required') && _needToKnow?.touched" class="error-message">
        Описание обязательно
      </div>

      <li class="form-row">
        <label for="willHappen">Что будет?</label>
        <textarea
          id="willHappen"
          cols="30"
          rows="4"
          formControlName="willHappen"
        ></textarea>
      </li>
      <div *ngIf="_willHappen?.hasError('required') && _willHappen?.touched" class="error-message">
        Описание обязательно
      </div>

      <li class="form-row">
        <label for="reasonToCome">Почему надо обязательно прийти?</label>
        <textarea
          id="reasonToCome"
          cols="30"
          rows="3"
          formControlName="reasonToCome"
        ></textarea>
      </li>
      <div *ngIf="_reasonToCome?.hasError('required') && _reasonToCome?.touched" class="error-message">
        Описание обязательно
      </div>
    </ul>
    <div class="buttons">
      <button class="create" type="submit">Отправить</button>
    </div>
  </form>
</div>

